// submit button

.button {
  position: relative;
  height: 40px;
  border-radius: 20px;
  border: 2px solid @color-elements-bg;

  &--lg {
    width: 152px;
    background-position: 15px center;
    &--tocart {
      background-color: @color-elements-bg;
      background-image: url(../img/cart_ico.svg);
      background-size: auto 21px;
      background-repeat: no-repeat;
      &::before {
        position: absolute;
        font-size: 16px;
        font-weight: 600;
        content: "Add to Cart";
        left: 50px;
        top: 9px;
      }
    }
    &--notify {
      background-color: @color-block-bg;
      background-image: url(../img/notify_ico.svg);
      background-size: auto 20px;
      background-repeat: no-repeat;
      &::before {
        position: absolute;
        font-size: 16px;
        font-weight: 600;
        content: "Notify Me!";
        left: 50px;
        top: 9px;
      }
    }
  }

  &--md {
    width: 135px;
    background-position: 10px center;
    font-size: 14px;
    font-weight: @font-bolt;
    &--tocart {
      background-color: @color-elements-bg;
      background-image: url(../img/cart_ico.svg);
      background-size: auto 20px;
      background-repeat: no-repeat;
      &::before {
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        content: "Add to Cart";
        left: 45px;
        top: 10px;
      }
    }
    &--notify {
      background-color: @color-block-bg;
      background-image: url(../img/notify_ico.svg);
      background-size: auto 18px;
      background-repeat: no-repeat;
      &::before {
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        content: "Notify Me!";
        left: 50px;
        top: 10px;
      }
    }
  }

  &--sm {
    width: 77px;
    background-position: center center;
    &--tocart {
      background-color: @color-elements-bg;
      background-image: url(../img/cart_ico.svg);
      background-size: auto 20px;
      background-repeat: no-repeat;
    }
    &--notify {
      background-color: @color-block-bg;
      background-image: url(../img/notify_ico.svg);
      background-size: auto 18px;
      background-repeat: no-repeat;
    }
  }

  span {
    .visually-hidden;
  }
}
