// main navigation

.main-nav {
  display: flex;
  &--lg {
    .main-nav__item{
      .main-nav__link {
        width: 60px;
        height: 80px;
        background-position: center 20px;
        position: relative;
        &::before {
          position: absolute;
          display: block;
        }
      }
    }

    .main-nav__item--account {
      .main-nav__link {
        &::before {
          content: "Account";
          left: 8px;
        }
      }
      &:hover {
        & .account-nav {
          top: 5px;
          left: -78px;
        }
      }
    }
    .main-nav__item--orders {
      .main-nav__link {
        &::before {
          content: "Orders";
          left: 10px;
        }
      }
    }
    .main-nav__item--cart {
      .main-nav__link {
        &::before {
          content: "Cart";
          left: 20px;
        }
      }
      &--notempty {
        &::after {
          top: 15px;
          right: 8px;
        }
      }
    }
  }
}

.main-nav__item {
  .vh {
    .visually-hidden;
  }
  .main-nav__link {
    display: block;
    width: 48px;
    height: 56px;
    color: @color-font-default;
    opacity: 0.4;
    font-weight: 500;
    font-size: 14px;
    padding-top: 49px;
    text-align: center;
    color: @color-font-default;
  }
  &:hover {
    .main-nav__link {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  &--account {
    position: relative;
    .main-nav__link {
      background: url(../img/account_ico.svg) no-repeat;
      background-position: center center;
    }
    margin-right: 5px;
    &:hover {
      & .account-nav {
        top: -18px;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }

  &--orders {
    .main-nav__link {
      background: url(../img/orders_ico.svg) no-repeat;
      background-position: center center;
    }
  }

  &--cart {
    position: relative;
    .main-nav__link {
      background: url(../img/cart_ico.svg) no-repeat;
      background-position: center center;
    }
    &--notempty {
      &::after {
        content: "";
        width: 13px;
        height: 13px;
        position: absolute;
        background-color: @color-elements-bg;
        border-radius: 50%;
        top: 11px;
        right: 4px;
        border: 2px solid @color-body-bg;
      }
    }
  }
}


// account navigation

.account-nav {
  display: flex;
  position: absolute;

  left: -84px;
  margin-top: 75px;
  top: -500px;
  opacity: 0;

  flex-direction: column;
  width: 215px;
  z-index: 999;
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 100px;
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 1.0);
    transform: rotate(45deg);
  }
}
.account-nav__item {
  height: 56px;
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  margin-bottom: 1px;
  &:first-child{
    margin-bottom: 2px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
    padding-left: 20px;
  }
  &:hover {
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 1.0);
  }
}
